autograd>=1.7.0
einops==0.8.1
escnn @ git+https://github.com/QUVA-Lab/escnn@9ad44cc37d694d9c805c4fef4d16722a254b3bf2
lie_learn==0.0.2
matplotlib
networkx==3.3
numpy
pymanopt==2.2.1
PyYAML
requests==2.32.3
scikit-learn
scipy
sympy==1.13.1
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
nose2 